<!--Using the new layout to fit 2 graphs in a row-->
{% extends "Graphlayout.html" %}

<!--Putting the graphs into containers that allow the graphs to show within the container-->
{% block content %}
<!--Creating the containers that contains the graph-->
<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div id="chart1" class="chart-container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>
<!--Scripts used to generate the graphs from plotly-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
var graphs = {{HotelGraph1 | safe}};
Plotly.plot('chart1',graphs,{});
</script>

<!--Repeating the first step to create more containers and generate more graphs-->
<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div id="chart2" class="chart-container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
var graphs = {{HotelGraph2 | safe}};
Plotly.plot('chart2',graphs,{});
</script>

<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div id="chart3" class="chart-container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
var graphs = {{HotelGraph3 | safe}};
Plotly.plot('chart3',graphs,{});
</script></html>

<!--Image of the heatmap for Carlton-->
<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div class ="card-header">Negative Review Word Cloud</div>
            <img src="/static/images/CarltonHotelCorrelationData.png" class="card-img-top" alt="...">
            <div class="container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>

<!--Images of the wordcloud for Carlton-->
<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div class ="card-header">Negative Titles Word Cloud</div>
            <img src="/static/images/Carlton_WC(neg title).png" class="card-img-top" alt="...">
            <div class="container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>

<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div class ="card-header">Negative Review Word Cloud</div>
            <img src="/static/images/Carlton_WC(neg desc).png" class="card-img-top" alt="...">
            <div class="container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>

<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div class ="card-header">Positive Titles Word Cloud</div>
            <img src="/static/images/Carlton_WC(pos title).png" class="card-img-top" alt="...">
            <div class="container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>

<body style="font-family:arial, sans-serif">
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card-body">
        <div class="card card-style mb-2">
            <div class ="card-header">Positive Review Word Cloud</div>
            <img src="/static/images/Carlton_WC(pos desc).png" class="card-img-top" alt="...">
            <div class="container" style="position: relative;">
                <div>{{description}}</div></body>
            </div>
        </div>
    </div>
</div>



{% endblock %}
