
<!--Creating a pop up window that redirects them to the individual hotel page-->
<div class="modal fade" id="popupmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hotels individual graphs</h1>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      </div>
      <div class="modal-body">

      <div class="list-group" style="text-align: center">
        <a href="/Fullerton" class="list-group-item list-group-item-action list-group-item-success">Fullerton</a>
        <a href="/Carlton" class="list-group-item list-group-item-action list-group-item-secondary">Carlton</a>
        <a href="/HotelG" class="list-group-item list-group-item-action list-group-item-info">HotelG</a>
        <a href="/ShangriLa" class="list-group-item list-group-item-action list-group-item-warning">ShangriLa</a>
        <a href="/Yotel" class="list-group-item list-group-item-action list-group-item-danger">Yotel</a>
        </div>
      </div>



