<!DOCTYPE html>
<html>

  <head lang="en">
    <title>Dissertation</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
  <div class="chart" id="image">
    <script>
      var graphs = {{image | safe}};
      var config = {"displaylogo": FALSE, 'modeBarButtonsToAdd': ['drawclosedpath', 'eraseshape']};

      Plotly.setPlotConfig(config);
      Plotly.plot('image', graphs, {});
    </script>
  </div>
</body>

</html>